<nav class="navbar navbar-dark bg-custom-blue">
    <a class="navbar-brand text-white" style="font-size: 18px; padding-left: 15px;">Stock Search</a>
    <div class="ml-auto">
      <button class="btn btn-outline-light mx-2">Search</button>
      <button class="btn btn-outline-light mx-2">Watchlist</button>
      <button class="btn btn-outline-light mx-2">Portfolio</button>
    </div>
  </nav>
  <div class="container mt-3 text-center">
    <h1 style="font-weight: 200; font-size: 34px; margin-top: 40px;">STOCK SEARCH</h1>
  </div>
<app-search-bar></app-search-bar>
