<div class="container">
  
  <div *ngIf="showBuySuccessAlert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    Successfully bought {{ purchasedStock }}
    <button type="button" class="close" aria-label="Close" (click)="showBuySuccessAlert = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <div *ngIf="showSellSuccessAlert" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    Successfully sold {{ soldStock }}
    <button type="button" class="close" aria-label="Close" (click)="showSellSuccessAlert = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="isLoading" class="text-center">Loading...</div>

  <div *ngIf="!isLoading && portfolio.length === 0" class="alert alert-warning">Your portfolio is empty.</div>

  <div *ngIf="!isLoading && portfolio.length > 0" class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9 mb-4" style = "padding-top: 20px;">
        <h1>My Portfolio</h1>
        <h2>Money in wallet: {{ walletAmount | currency:'USD':true }}</h2>
      </div>
    </div>
    <div *ngFor="let stock of portfolio" class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-9 mb-4">
        <div class="card bold-text"> 
          <div class="card-header">
            <h2 class="card-title">{{ stock.ticker }}</h2>
            <p>{{ stock.companyName }}</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6">
                <p>Quantity: {{ stock.quantity }}</p>
                <p>Avg. Cost / Share: {{ stock.avgCost | currency:'USD':true }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0, 'text-black': stock.change === 0}">
                  Change: 
                  <i class="bi bi-caret-up-fill text-success" *ngIf="stock.change >= 0"></i>
                  <i class="bi bi-caret-down-fill text-danger" *ngIf="stock.change < 0"></i>
                  {{ stock.change | currency:'USD':true }}
                </p>
                <p [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0, 'text-black': stock.change === 0}">
                  Current Price: {{ stock.currentPrice | currency:'USD':true }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <p>Total Cost: {{ stock.totalCost | currency:'USD':true }}</p>
              </div>
              <div class="col-12 col-md-6">
                <p [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0, 'text-black': stock.change === 0}">
                  Market Value: {{ stock.marketValue | currency:'USD':true }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <hr> 
                <button class="btn btn-primary mr-2" (click)="openBuyModal(stock)">Buy</button>
                <button class="btn btn-danger" (click)="openSellModal(stock)">Sell</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
