<div class="modal-header">
    <h4 class="modal-title">{{ ticker }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>
<div class="modal-body">
    <div class="row mb-3">
        <div class="col-md-6 d-flex">
            <p class="me-2">Current Price:</p>
            <p>{{ currentPrice }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 d-flex">
            <p class="me-2">Money in wallet:</p>
            <p>{{ walletBalance }}</p>
        </div>
    </div>
    <form (ngSubmit)="sell()">
        <div class="row mb-3">
            <div class="col-md-6 d-flex">
                <label for="quantity" class="me-2">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity"
                    (ngModelChange)="updateTotal()" required>
            </div>
            <div class="col-md-6" *ngIf="sellError">
                <p class="text-danger">{{ sellError }}</p>
            </div>
        </div>
        <div class="row mb-3" *ngIf="quantity > userStocksQuantity">
            <div class="col-md-6">
                <p class="text-danger" style="white-space: nowrap;">You cannot sell the stocks that you don't have!</p>
            </div>
        </div>
        <div class="modal-footer justify-content-start">
            <div class="d-flex">
                <label for="total" class="me-2">Total:</label>
                <span>${{ total }}</span>
            </div>
            <button type="submit" class="btn btn-primary ms-auto" [disabled]="quantity <= 0 || quantity > userStocksQuantity">Sell</button>
        </div>
    </form>
</div>
