<!-- tab-group.component.html -->

<mat-tab-group class = "custom-tab-group">
    <!-- Summary Tab -->
    <mat-tab label="Summary">
      <ng-template matTabContent>
        <!-- Content for the Summary tab goes here -->
        <p>Summary Content</p>
      </ng-template>
    </mat-tab>
  
    <!-- Top News Tab -->
    <mat-tab label="Top News">
      <ng-template matTabContent>
        <!-- Content for the Top News tab goes here -->
        <p>Top News Content</p>
      </ng-template>
    </mat-tab>
  
    <!-- Charts Tab -->
    <mat-tab label="Charts">
      <ng-template matTabContent>
        <!-- Content for the Charts tab goes here -->
        <p>Charts Content</p>
      </ng-template>
    </mat-tab>
  
    <!-- Insights Tab -->
    <mat-tab label="Insights">
      <ng-template matTabContent>
        <!-- Content for the Insights tab goes here -->
        <p>Insights Content</p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  