<!-- tab-group.component.html -->

<mat-tab-group class="custom-tab-group">
  <!-- Summary Tab -->
  <mat-tab label="Summary">
    <ng-template matTabContent>
      <div class="container" style="padding-top: 40px;">
        <div class="row">
          <!-- Left Half for Large Screens -->
          <div class="col-lg-6 col-12">
            <!-- Price Descriptions Section -->
            <div class="text-left mb-4">
              <p><b>High Price:</b> {{ latestPriceData?.h }}</p>
              <p><b>Low Price:</b> {{ latestPriceData?.l }}</p>
              <p><b>Open Price:</b> {{ latestPriceData?.o }}</p>
              <p><b>Previous Close:</b> {{ latestPriceData?.pc }}</p>
            </div>

            <!-- About the Company Section -->
            <div class="text-center mb-4">
              <h3><b><u>About the Company</u></b></h3>
              <p><b>IPO Start Date:</b> {{ companyData?.ipo }}</p>
              <p><b>Industry:</b> {{ companyData?.finnhubIndustry }}</p>
              <p><b>Webpage: </b><a [href]="companyData?.weburl" target="_blank">{{ companyData?.weburl }}</a></p>
            </div>

            <!-- Company Peers Section -->
            <div class="text-center">
              <h4><b>Company Peers</b></h4>
              <div class="d-flex flex-wrap justify-content-center">
                <div *ngFor="let peer of companyPeers" class="mr-2 mb-2">
                  <a [routerLink]="['/search', peer]">{{ peer }}</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Half for Large Screens -->
          <div class="col-lg-6 col-12">
            <!-- Placeholder for Chart -->
            <div class="text-center" style="width: 100%; height: 400px;">
              <highcharts-chart
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngular"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>

<!-- Top News Tab -->
<mat-tab label="Top News">
  <ng-template matTabContent>
    <div class="container" style="padding-top: 20px;">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let newsItem of topNews">
              <div class="card rounded" (click)="openModal(newsModal, newsItem)">
                <div class="row g-0">
                  <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center" style="padding: 10px;">
                    <img [src]="newsItem.image" class="card-img-top img-fluid rounded" alt="News Image" style="height: 60%; width: 100%;">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card-body d-flex align-items-center justify-content-center" style="height: 100%;">
                      <h5 class="card-title text-center">{{ newsItem.headline }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- News Modal -->
    <ng-template #newsModal let-modal>
      <div class="modal-header">
        <h1 class="modal-title">{{ newsItem?.source }}</h1>
        <h3 class="modal-subtitle">{{ newsItem?.datetime }}</h3>
        <hr>
      </div>
      <div class="modal-body">
        <h2>{{ newsItem?.headline }}</h2>
        <p>{{ newsItem?.summary }}</p>
        <p>For more details click <a href="{{ newsItem?.url }}" target="_blank">here</a></p>
        <hr>
        <div class="row">
          <div class="col-12">
            <h3>Share</h3>
            <div class="d-flex">
              <button class="btn btn-link p-0 mr-2" (click)="shareOnTwitter(newsItem)">
                <i class="bi bi-twitter-x" style="color: black; font-size: 36px;"></i>
              </button>
              <button class="btn btn-link p-0" (click)="shareOnFacebook(newsItem)">
                <i class="bi bi-facebook" style="color: #3b5998; font-size: 36px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</mat-tab>





  <!-- Charts Tab -->
  <mat-tab label="Charts">
    <ng-template matTabContent>
      <div class="text-center" style="width: 100%; height: 600px;">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptionsSMAVolumeByPrice"
          [callbackFunction]="chartCallback"
          [(update)]="updateFlag"
          [oneToOne]="oneToOneFlag"
          [runOutsideAngular]="runOutsideAngular"
          style="width: 100%; height: 100%; display: block;"
        ></highcharts-chart>
      </div>
    </ng-template>
  </mat-tab>

<!-- Insights Tab -->
<mat-tab label="Insights">
  <ng-template matTabContent>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-10">
          <h3 class="text-center mb-4">Insider Sentiments</h3>
          <div class="table-responsive-sm">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>Ticker Name</th>
                  <th>MSPR</th>
                  <th>Change</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Total</th>
                  <td></td>
                  <td>{{ calculateTotal('mspr') }}</td>
                  <td>{{ calculateTotal('change') }}</td>
                </tr>
                <tr>
                  <th>Positive</th>
                  <td></td>
                  <td>{{ calculatePositive('mspr') }}</td>
                  <td>{{ calculatePositive('change') }}</td>
                </tr>
                <tr>
                  <th>Negative</th>
                  <td></td>
                  <td>{{ calculateNegative('mspr') }}</td>
                  <td>{{ calculateNegative('change') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div *ngIf="companyRecommendationsChartOptions">
            <highcharts-chart [Highcharts]="Highcharts" [options]="companyRecommendationsChartOptions"></highcharts-chart>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div *ngIf="companyEarningsChartOptions">
            <highcharts-chart [Highcharts]="Highcharts" [options]="companyEarningsChartOptions"></highcharts-chart>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-tab>


</mat-tab-group>
