<app-search-bar [query]="searchQuery"></app-search-bar>


<!-- Success Alert for Buy -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <!-- Success Alert for Buy -->
      <div *ngIf="showBuySuccessAlert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        {{ purchasedStock }} bought Successfully
        <button type="button" class="close" aria-label="Close" (click)="showBuySuccessAlert = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Success Alert for Sell -->
      <div *ngIf="showSellSuccessAlert" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        {{ soldStock }} sold Successfully 
        <button type="button" class="close" aria-label="Close" (click)="showSellSuccessAlert = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Rest of the template -->
<!-- Success Alert -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
        <button type="button" class="btn-close" aria-label="Close" (click)="showSuccessAlert = false"></button>
      </div>

      <!-- Removed Alert -->
      <div *ngIf="showRemovedAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ removedMessage }}
        <button type="button" class="btn-close" aria-label="Close" (click)="showRemovedAlert = false"></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- First section -->
    <div class="col">
      <div class="company-info text-center">
        <h1>
          {{ companyData?.ticker }}
          <i class="bi" [ngClass]="isStarFilled ? 'bi-star-fill star-filled' : 'bi-star'" (click)="toggleStar()"></i>
        </h1>
        <h2>{{ companyData?.name }}</h2>
        <p>{{ companyData?.exchange }}</p>
        <button class="btn btn-success buy-button" (click)="openBuyModal()">Buy</button>
        <button *ngIf="userStocksQuantity > 0" class="btn btn-danger sell-button" (click)="openSellModal()">Sell</button>
      </div>
    </div>

   <!-- Second section -->
<div class="col">
  <div class="company-logo text-center">
    <img [src]="companyData?.logo" alt="Company Logo" class="img-fluid">
  </div>
  <div class="market-status text-center" style="padding-top: 80px; font-weight: bold;">
    <ng-container *ngIf="isMarketOpen; else closed">
      <p style="color: green">Market is open</p>
    </ng-container>
    <ng-template #closed>
      <p style="color: red">Market closed on {{ marketClosingTime }}</p>
    </ng-template>
  </div>
</div>


    <!-- Third section -->
    <div class="col">
      <div class="price-info text-center" [ngClass]="{'red': latestPriceData?.d < 0, 'green': latestPriceData?.d >= 0}">
        <h1>{{ latestPriceData?.pc }}</h1>
        <div class="change-info row align-items-center justify-content-center">
          <div class="col-auto">
            <i class="bi bi-caret-up-fill text-success" [ngStyle]="{'position': 'relative', 'top': '-2px', 'font-size': '1.5em'}" *ngIf="latestPriceData?.d >= 0"></i>
            <i class="bi bi-caret-down-fill text-danger" [ngStyle]="{'position': 'relative', 'top': '-2px', 'font-size': '1.5em'}" *ngIf="latestPriceData?.d < 0"></i>
          </div>
          <div class="col-auto">
            <h2 class="change-value">{{ latestPriceData?.d }}</h2>
          </div>
          <div class="col-auto">
            <h2>({{ latestPriceData?.dp }}%)</h2>
          </div>
        </div>
        <div class="date-time" style="color: #6c757d;">
          <p>{{ formatTimestamp(latestPriceData?.t) }}</p>
        </div>        
      </div>
    </div> 
  </div>
</div>

<app-tab-group></app-tab-group>
