<app-search-bar [query]="searchQuery"></app-search-bar>
<div class="container">
  <!-- First section -->
  <div class="column">
    <div class="company-info">
      <h1>{{ companyData?.ticker }}</h1>
      <h2>{{ companyData?.name }}</h2>
      <p>{{ companyData?.exchange }}</p>
      <button class="btn btn-success buy-button">Buy</button>
    </div>
  </div>

  <!-- Second section -->
  <div class="column">
    <div class="company-logo">
      <img [src]="companyData?.logo" alt="Company Logo">
    </div>
    <div class="market-status">
      <p *ngIf="marketStatus?.isOpen; else closed" class="market-text">Market open on {{ formatDate(marketStatus?.t) }}</p>
      <ng-template #closed><p class="market-text red">Market closed on {{ formatDate(marketStatus?.t) }}</p></ng-template>
    </div>
  </div>

  <!-- Third section -->
  <div class="column">
    <div class="price-info">
      <h1>{{ latestPriceData?.pc }}</h1>
      <div class="change-info">
        <img [src]="latestPriceData?.d < 0 ? '../../assets/RedArrowDown.png' : '../../assets/GreenArrowUp.png'" alt="Change Arrow">
        <h2 class="change-value">{{ latestPriceData?.d }}</h2>
        <h2>{{ latestPriceData?.dp }}%</h2>
      </div>
      <p>{{ formatDate(latestPriceData?.t) }}</p>
      <!-- Use formatDate function to format the date -->
    </div>
  </div>
</div>
