.container {
  padding-top: 20px;
}

.change-info {
  display: flex;
  align-items: center; /* Align items vertically */
}
/* Colors */
.green {
  color: green;
}

.company-logo img {
  max-width: 120px; /* Adjust the width as needed */
  max-height: auto; /* Maintain aspect ratio */
}


.arrow {
  max-width: 16px;
  max-height: 16px;
}

.red {
  color: red;
}

.red img,
.green img {
  filter: brightness(0.7);
}
