<app-search-bar [query]="searchQuery"></app-search-bar>
<div class="container">
  <div class="row">
    <!-- First section -->
    <div class="col">
      <div class="company-info text-center">
        <h1>
          {{ companyData?.ticker }}
          <i class="bi" [ngClass]="isStarFilled ? 'bi-star-fill' : 'bi-star'" (click)="toggleStar()"></i>
        </h1>
        <h2>{{ companyData?.name }}</h2>
        <p>{{ companyData?.exchange }}</p>
        <button class="btn btn-success buy-button">Buy</button>
      </div>
    </div>

   <!-- Second section -->
<div class="col">
  <div class="company-logo text-center">
    <img [src]="companyData?.logo" alt="Company Logo" class="img-fluid">
  </div>
  <div class="market-status text-center" style="padding-top: 80px; font-weight: bold;">
    <ng-container *ngIf="isMarketOpen; else closed">
      <p style="color: green">Market is open</p>
    </ng-container>
    <ng-template #closed>
      <p style="color: red">Market closed on {{ marketClosingTime }}</p>
    </ng-template>
  </div>
</div>


    <!-- Third section -->
    <div class="col">
      <div class="price-info text-center" [ngClass]="{'red': latestPriceData?.d < 0, 'green': latestPriceData?.d >= 0}">
        <h1>{{ latestPriceData?.pc }}</h1>
        <div class="change-info row align-items-center justify-content-center">
          <div class="col-auto">
            <img [src]="latestPriceData?.d < 0 ? '../../assets/RedArrowDown.png' : '../../assets/GreenArrowUp.png'" alt="Change Arrow" class="img-fluid arrow">
          </div>
          <div class="col-auto">
            <h2 class="change-value">{{ latestPriceData?.d }}</h2>
          </div>
          <div class="col-auto">
            <h2>({{ latestPriceData?.dp }}%)</h2>
          </div>
        </div>
        <div class="date-time" style="color: #6c757d;">
          <p>{{ formatTimestamp(latestPriceData?.t) }}</p>
        </div>        
      </div>
    </div> 
  </div>
</div>

<app-tab-group></app-tab-group>
